body::-webkit-scrollbar {
    width: .25em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.secondary-color {
    background: #303136;
}

body {
    background: #35383d;
}

.conversation_btn:hover .remove_convo {
    display: block;
    color: #8d8d8d;
    margin-top: 7px;
    margin-right: 7px;
}

.remove_convo:hover{
    color: #fff !important;
}

.remove_convo {
    display:none;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrap {
    word-wrap: break-word;
}

.line2 {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #666;
    margin-top: -5px;
}

.line {
     width: 100%;
     height: 1px;
     border-bottom: 1px dashed #ddd;
     margin: 35px 0;
 }

.date {
    font-size: 65%;
    font-style: italic;
    color: #a6a6a6;
}

.time {
    font-style: italic;
    color: #c5c5c5;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}



ul.add_list a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.conversation_btn {
    display:flex;
}

.conversation_btn:hover {
    cursor: pointer;
    background: #3f3f3f;
    border-radius: 5px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}